.right .MMM-Nest .module-content {
  float: right;
}

.heating {
  width: 100px;
  height: 100px;
  background: orange;
  background:radial-gradient(orange, #ff4d4d);
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  line-height:100px;
  text-align: center;
  position: relative;
 color:white;
}

.cooling {
  width: 100px;
  height: 100px;
  background: blue;
  background:radial-gradient(blue, #33ccff);
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  line-height:100px;
  text-align: center;
  position: relative;
 color:white;
}

.off {
  width: 100px;
  height: 100px;
  border: 2px solid white;
  background: black;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  line-height:100px;
  text-align: center;
  position: relative;
  margin-bottom: 40px;
}

.heatingText {
  font-size:small;
  position: absolute;
  top: -32px;
  left: 20px;
  width: 0;
}

.coolingText {
  font-size:small;
  position: absolute;
  top: -32px;
  right: 52px;
  width: 0;
}

.humidityText {
  position:absolute;
  font-size:medium;
  top: 65%;
  width: 100%;
  text-align:center;
  text-transform: uppercase
}

.nameText {
 font-size:medium;
 text-align:center;
 width:33%;
}

.center {
 text-align:center;
}

.heatingCell {
 color:white;
 background:orange;
}

.coolingCell {
 background-color:blue;
}

.fanIcon {
 height:15px;
 width:15px;
 position:absolute;
 top: 72%;
 right: 42%;
}
